/* ==== Medium Layout: 1280px ==== */

@media only screen and (min-width: 992px) {
	.slicknav_menu {
		display: none;
	}

	.slider-right-text {
		font-size: 16px;
		text-align: right;
		margin-top: 0px;
	}

	.slider-right-text h1 {
		font-size: 45px;
	}

	.about-btn a {
		padding: 6px 30px;
	}

	.about-video {
		margin-top: 0;
	}

	.service-content .col-lg-6:nth-child(5) .single-service,
	.service-content .col-lg-6:last-child .single-service {
		margin-bottom: 0;
	}

	.single-funfact {
		margin-bottom: 0;
	}

	.choose-content-wrap ul.nav-tabs .nav-item {
		margin-bottom: 0 !important;
	}

	.single-pricing-table,
	.single-footer-widget {
		margin-bottom: 0;
	}

	#mobile-app-area::after {
		display: inline-block;
	}

	.mobile-app-content h2 {
		font-size: 70px;
	}

	.app-btns a {
		font-size: 16px;
		margin-right: 40px;
		padding: 10px 20px;
	}

	.single-article .article-thumb {
		margin-right: 0;
	}

	.single-article.middle .article-thumb {
		margin-left: 0;
	}

	.article-body {
		padding: 0 25px;
	}

	.article-date {
		left: -58px;
		top: 50%;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.single-article.middle .article-date {
		left: auto;
		right: -58px;
		z-index: 1;
	}

	.single-testimonial {
		margin-left: 100px;
		padding: 50px 30px 50px 70px;
	}

	.single-testimonial p {
		font-size: 13px;
		margin-bottom: 0;
	}

	.single-testimonial p,
	.single-testimonial h3 {
		text-align: left;
	}

	.client-logo {
		bottom: auto;
		left: -70px;
		margin-left: 0;
		top: 50%;
	}
}

/* ==== Wide Tablet Layout: 767px ==== */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.slicknav_menu {
		display: block;
	}

	.slider-right-text {
		font-size: 16px;
		text-align: center;
		margin-top: 50px;
	}

	.slider-right-text h1,
	.slideshowcontent h1 {
		font-size: 45px;
	}

	.about-btn a {
		padding: 6px 30px;
	}

	.about-video {
		margin-top: 50px;
	}

	.single-funfact {
		margin-bottom: 50px;
	}

	.funfact-content-wrap .col-lg-4:last-child .single-funfact {
		margin-bottom: 0;
	}

	.choose-content-wrap ul.nav-tabs .nav-item {
		margin-bottom: 0 !important;
	}

	.single-pricing-table,
	.single-footer-widget {
		margin-bottom: 50px;
	}

	#footer-area .col-lg-4:last-child .single-footer-widget,
	#pricing-area .col-lg-4:last-child .single-pricing-table {
		margin-bottom: 0;
	}

	#mobile-app-area::after {
		display: none;
	}

	.mobile-app-content h2 {
		font-size: 40px;
	}

	.app-btns a {
		font-size: 16px;
		margin-right: 40px;
		padding: 10px 20px;
	}

	.app-btns a i {
		font-size: 20px;
	}

	.article-body {
		padding: 50px 15px 25px 15px;
	}

	.article-date,
	.single-article.middle .article-date {
		left: 50%;
		top: 9px;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.single-testimonial {
		margin-left: 100px;
		padding: 50px 30px 50px 70px;
	}

	.single-testimonial p {
		font-size: 13px;
		margin-bottom: 0;
	}

	.single-testimonial p,
	.single-testimonial h3 {
		text-align: left;
	}

	.client-logo {
		bottom: auto;
		left: -70px;
		margin-left: 0;
		top: 50%;
	}
}

/* ==== Mobile Layout: 320px ==== */

@media only screen and (max-width: 767px) {

	.single-slide-item {
		background: url(../img/car_7.jpg);
		background-position: center center;
		background-size: cover;
	}

	.slider-right-text {
		font-size: 24px;
		text-align: center;
		margin-top: 50px;
	}

	.slider-right-text h1,
	.slideshowcontent h1 {
		font-size: 35px;
	}

	.slider-right-text p {
		margin-top: 50px;
		color: #fff;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 23px;
		text-align: center;
	}

	.about-btn a {
		padding: 5px 25px;
	}

	.about-video {
		margin-top: 50px;
	}

	.single-funfact {
		margin-bottom: 50px;
	}

	.funfact-content-wrap .col-lg-4:last-child .single-funfact {
		margin-bottom: 0;
	}

	.choose-content-wrap ul.nav-tabs li.nav-item {
		margin-bottom: 10px !important;
	}

	.single-pricing-table,
	.single-footer-widget {
		margin-bottom: 50px;
	}

	#footer-area .col-lg-4:last-child .single-footer-widget,
	#pricing-area .col-lg-4:last-child .single-pricing-table {
		margin-bottom: 0;
	}

	#mobile-app-area::after {
		display: none;
	}

	.mobile-app-content h2 {
		font-size: 26px;
	}

	.app-btns a {
		font-size: 13px;
		margin-right: 10px;
		padding: 8px 15px;
	}

	.app-btns a i {
		font-size: 13px;
	}

	.article-body {
		padding: 50px 15px 25px 15px;
	}

	.article-date,
	.single-article.middle .article-date {
		left: 50%;
		top: 9px;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.single-testimonial::after {
		display: none;
	}

	.single-testimonial {
		margin-left: 0;
		padding: 15px;
	}

	.single-testimonial p {
		font-size: 12px;
		margin-bottom: 150px;
	}

	.single-testimonial p,
	.single-testimonial h3 {
		text-align: center;
	}

	.client-logo {
		bottom: 3px;
		left: 50%;
		margin-left: -52.5px;
		top: auto;
	}

	.team-member-pro-pic {
		margin: 10px 0;
	}
}